* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
 body {
	background-color: #ffc13d;
	background-image: none;
} 

.wrapper {
	width: 31.25em;
	position: relative;
	margin: auto;
	top: 1em;
}
.container {
	width: 31.25em;
	background-color: #f8f8f8;
	padding: 2em 3.75em;
	border-radius: 0.7em;
	box-shadow: 0 1em 4em rgb(71, 50, 4, 0.3);
	background-image: none;
	position: fixed; top: 10%; left: 30% 
}
.instructions {
	background-color: #f8f8f8;
	padding: 2em 1.8em;
	border-radius: 0.5em;
	font-size: 0.9em;
	margin: 1.5em 0 1em 0;
}
.instructions li {
	margin-bottom: 1em;
}
a {
	display: block;
	background-color: #000000;
	color: #f8f8f8;
	text-align: center;
	padding: 1em 0;
	border-radius: 0.3em;
	text-decoration: none;
}
input,
#submit {
	border: none;
	outline: none;
	display: block;
}
input {
	width: 100%;
	background-color: transparent;
	margin-bottom: 2em;
	padding: 1em 0 0.5em 0.5em;
	border-bottom: 2px solid #202040;
	background-image: none;
}
#submit {
	position: relative;
	left: 0;
	font-size: 1.1em;
	width: 7em;
	background-color: #ffc13d;
	padding: 0.8em 0;
	border-radius: 0.2em;
	margin-top: 2em;
	background-image: none;
}
#username-error,
#password-error {
	font-size: 0.8em;
	text-align: justify;
}
#message-ref {
	visibility: hidden;
	font-size: 0.9em;
	margin-top: 1.5em;
	color: #34bd34;
}
.fab {
	color: #ff0000;
}
@media screen and (max-width: 500px) {
	.wrapper {
		font-size: 11px;
	}
	.instructions {
		font-size: 1.4em;
	}
	a {
		font-size: 1.6em;
	}
}
